header {
    --bg: #1d3557;
    --c1: #457b9d;
    --c2: #fff;
    --c3: #a8dadc;
  
    /*   
    --bg: #112;
    --c1: blue;
    --c2: white;
    --c3: #eef; 
    */
  }
  
  
  
  header {
    height: 80vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    background-color: var(--bg);
  }
  
  @keyframes showBars {
    0% { opacity: 0; background-position: -400% 7%, 500% 21%, -400% 35%, 500% 49%, -400% 63%, 500% 77%, -400% 91% ; }
    14% { background-position: 0% 7%, 500% 21%, -400% 35%, 500% 49%, -400% 63%, 500% 77%, -400% 91% ; }
    28% { background-position: 0% 7%, 100% 21%, -400% 35%, 500% 49%, -400% 63%, 500% 77%, -400% 91% ; }
    42% { background-position: 0% 7%, 100% 21%,    0% 35%, 500% 49%, -400% 63%, 500% 77%, -400% 91% ; }
    56% { background-position: 0% 7%, 100% 21%,    0% 35%, 100% 49%, -400% 63%, 500% 77%, -400% 91% ; }
    70% { background-position: 0% 7%, 100% 21%,    0% 35%, 100% 49%,    0% 63%, 500% 77%, -400% 91% ; }
    84% { background-position: 0% 7%, 100% 21%,    0% 35%, 100% 49%,    0% 63%, 100% 77%, -400% 91% ; }
    98%, 100% { opacity: 1; background-position: 0% 7%, 100% 21%, 0% 35%, 100% 49%, 0% 63%, 100% 77%, 0% 91%; }
  }
  
  header::after {
    content: "";
    width: 100%;
    height: 20vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: inherit;
    background-repeat: no-repeat;
    background-size: 70% 7%;
    background-image:
      linear-gradient(var(--c1),var(--c1)),
      linear-gradient(var(--c2),var(--c2)),
      linear-gradient(var(--c1),var(--c1)),
      linear-gradient(var(--c2),var(--c2)),
      linear-gradient(var(--c1),var(--c1)),
      linear-gradient(var(--c2),var(--c2)),
      linear-gradient(var(--c1),var(--c1));
    background-position: 0% 7%, 100% 21%, 0% 35%, 100% 49%, 0% 63%, 100% 77%, 0% 91%;
    animation: showBars 3.5s;
  }
  
  @keyframes showText {
    0% { opacity: 0; transform: translate(0, -100%); }
    20% { opacity: 0; }
    100% { opacity: 1; transform: translate(0, 0); }
  }
  
  header > div {
    position: relative;
    transform: translate(-100%, 0);
    opacity: 0;
    animation: showText 1s 1;
    animation-fill-mode: forwards;
    animation-delay: 3.5s;
    text-align: center;
  }
  
  .contactpageh1 {
    font-weight: 400;
    font-family: Oswald, Montserrat, arial, sans-serif;
    @media screen and (min-width: 768px){
      margin:0;
      font-size: 10vw;
    }
    @media (max-width : 450px){
      font-size: 10vw;
    }
    margin: 10vh 0;
    font-size: 6vw;
    color: var(--c2);
  }
  
  .contactpagep {
    color: var(--c3);
    margin: 0;
    font-size: 5vw;
    margin-bottom: 5vh;
  }
  
  @media all and (min-width: 768px) {
  
    @keyframes showBarsBig {
      0% { opacity: 0; background-position: 7% -400%, 21% 500%, 35% -400%, 49% 500%, 63% -400%, 77% 500%, 91% -400%; }
      14% { background-position: 7% 0%, 21% 500%, 35% -400%, 49% 500%, 63% -400%, 77% 500%, 91% -400%; }
      28% { background-position: 7% 0%, 21% 100%, 35% -400%, 49% 500%, 63% -400%, 77% 500%, 91% -400%; }
      42% { background-position: 7% 0%, 21% 100%, 35% 0%, 49% 500%, 63% -400%, 77% 500%, 91% -400%; }
      56% { background-position: 7% 0%, 21% 100%, 35% 0%, 49% 100%, 63% -400%, 77% 500%, 91% -400%; }
      70% { background-position: 7% 0%, 21% 100%, 35% 0%, 49% 100%, 63% 0%, 77% 500%, 91% -400%; }
      84% { background-position: 7% 0%, 21% 100%, 35% 0%, 49% 100%, 63% 0%, 77% 100%, 91% -400%; }
      98%, 100% { opacity: 1; background-position: 7% 0%, 21% 100%, 35% 0%, 49% 100%, 63% 0%, 77% 100%, 91% 0%; }
    }
  
    @keyframes showTextBig {
      0% { opacity: 0; transform: translate(-100%, 0); }
      20% { opacity: 0; }
      100% { opacity: 1; transform: translate(0vw, 0); }
    }
  
    header {
      height: 100vh;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  
    header::after {
      width: 20vw;
      height: 100%;
      background-size: 7% 70%;
      background-position: 
        7% 0%, 21% 100%, 35% 0%, 49% 100%, 63% 0%, 77% 100%, 91% 0%;
      animation-name: showBarsBig;
    }
  
    header > div {
      animation-name: showTextBig;
      margin-left: 22vw;
      text-align: left;
    }
  
    .contactpageh1 {
      font-size: 6vw;
    }
  
    .contactpagep {
      font-size: 2vw;
      margin-bottom: 0;
    }
  }
  
  @media (prefers-reduced-motion) {
    header::after {
      animation: none !important;
    }
    
    @keyframes showTextReduced {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
    
    
    header > div {
      transform: translate(0,0);
      animation-name: showTextReduced;
      animation-delay: 0.5s !important;
    }
  }
  