* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14.5px;
}
@media screen and (min-width: 768px) {
  * {
    font-size: 17px;
  }
}

#tablogo {
  height: 10px;
  width: 10px;
}

@media screen and (min-width: 768px) {
  #offcanvasWithBothOptions {
    width: 25%;
  }
}
#offcanvasWithBothOptions {
  max-width: 40%;
}

.navlinks:hover {
  text-decoration: underline;
}

.navlinks {
  color: #006400;
}
.navbar-brand {
  font-variant: small-caps;
}

.links {
  text-decoration: none;
  color: #ffc0cb;
}

.links:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.form-control:focus {
  box-shadow: none;
}

.carouselimg {
  object-fit: cover;
}

.avatar {
  height: 10vi;
  width: 10vi;
}

@media screen and (min-width: 768px) {
  .avatar {
    height: 5vi;
    width: 5vi;
  }
}

#badgename {
  text-decoration: none;
  border: none;
}


.marketheading {
  color: #0049b7;
  font-variant: small-caps;
  border: dashed 2px gold;
  background-color: ghostwhite;
  padding: 2vi;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.badgeclr {
  background: linear-gradient(0deg, #a9c9ff, #ffbbec);
}

.carouselclr {
  background: linear-gradient(180deg, #a9c9ff, #ffbbec);
}

.unavclr {
  background: linear-gradient(0deg, #a9c9ff, #ffbbec);
}

.navclr {
  background: linear-gradient(180deg, #a9c9ff, #ffbbec);
}

.achievementsclr {
  background: linear-gradient(180deg, #e3ffe7, #d9e7ff, #c0c0aa);
}

.servicesclr {
  background: linear-gradient(0deg, #e3ffe7, #d9e7ff, #c0c0aa);
}

.faqsclr {
  background: linear-gradient(180deg, #e3ffe7, #d9e7ff, #c0c0aa);
}

.commentsclr {
  background: linear-gradient(0deg, #e3ffe7, #d9e7ff, #c0c0aa);
}

.pricesclr {
  background: linear-gradient(90deg, #ffc107, #ffa07a, #ff69b4);
}

.marketsclr {
  background: linear-gradient(-90deg, #ffc5c5, #ffa07a, #ffd7be, #c5cae9);
}

.typesclr {
  background: linear-gradient(-90deg, #ffc5c5, #ffa07a, #ffd7be, #c5cae9);
}
